In [2]:
import pandas as pd
df = pd.read_csv('Daily_Gold_Price_on_World.csv')
df

,Date,US dollar (USD),Euro (EUR),Japanese yen (JPY),Pound sterling (GBP),Canadian dollar (CAD),Swiss franc (CHF),Indian rupee (INR),Chinese renmimbi (CNY),Turkish lira (TRY),Saudi riyal (SAR),Indonesian rupiah (IDR),UAE dirham (AED),Thai baht THB),Vietnamese dong (VND),Egyptian pound (EGP),Korean won (KRW),Russian ruble (RUB),South African rand (ZAR),Australian dollar (AUD)
0,1979-01-01,226.00,137.06,0.00,110.70,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,1979-01-02,226.80,137.29,43164.91,111.45,263.74,359.62,1792.85,0.00,0.00,735.60,138160.45,851.29,4454.55,0.00,0.00,107470.04,0.00,194.56,193.61
2,1979-01-03,218.60,134.01,43717.90,107.98,264.39,365.87,1802.15,0.00,0.00,739.42,138877.01,855.71,4477.66,0.00,0.00,108027.43,0.00,192.23,192.97
3,1979-01-04,223.15,136.79,43674.89,110.66,264.14,366.38,1811.74,0.00,0.00,743.36,139616.26,860.26,4501.49,0.00,0.00,108602.47,0.00,193.01,194.55
4,1979-01-05,225.50,138.35,44582.47,111.63,268.39,373.72,1843.57,0.00,0.00,756.42,142069.10,875.38,4580.57,0.00,0.00,110510.44,0.00,196.40,197.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11285,2022-04-04,1930.30,1755.38,236896.07,1471.77,2406.99,1784.85,145834.17,12275.16,28386.99,7241.33,27708492.05,7090.09,64694.01,44102530.37,35208.67,2344349.41,162869.07,28141.36,2558.38
11286,2022-04-05,1944.05,1777.25,239691.65,1480.56,2418.11,1804.56,146459.87,12362.60,28616.42,7292.71,27892258.08,7140.59,64955.57,44470144.87,35459.47,2357743.90,162328.18,28373.41,2549.74
11287,2022-04-06,1930.15,1767.62,238846.40,1474.58,2412.88,1800.15,146223.33,12283.96,28452.34,7239.99,27711162.15,7089.54,64491.13,44137702.89,35341.04,2351598.13,160684.98,28274.28,2561.24
11288,2022-04-07,1932.40,1770.98,239472.66,1478.90,2431.83,1803.41,146780.27,12297.02,28489.85,7247.85,27747330.20,7097.80,64745.06,44176594.17,35440.21,2356851.54,152321.42,28536.72,2585.32
11289,2022-04-08,1941.40,1785.44,241519.85,1492.41,2445.87,1814.14,147381.37,12354.00,28646.13,7280.83,27879473.30,7130.86,65255.30,44384284.57,35605.27,2378311.95,151914.54,28431.80,2605.21

In [4]:

df.info() # Informasi umum dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11290 entries, 0 to 11289
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      11290 non-null  object
 1   US dollar (USD)           11290 non-null  float64
 2   Euro (EUR)                11290 non-null  float64
 3   Japanese yen (JPY)        11290 non-null  float64
 4   Pound sterling (GBP)      11290 non-null  float64
 5   Canadian dollar (CAD)     11290 non-null  float64
 6   Swiss franc (CHF)         11290 non-null  float64
 7   Indian rupee (INR)        11290 non-null  float64
 8   Chinese renmimbi (CNY)    11290 non-null  float64
 9   Turkish lira (TRY)        11290 non-null  float64
 10  Saudi riyal (SAR)         11290 non-null  float64
 11  Indonesian rupiah (IDR)   11290 non-null  float64
 12  UAE dirham (AED)          11290 non-null  float64
 13  Thai baht THB)            11290 non-null  float64
 14  Vietnamese dong (VND)     11290 non-null  float64
 15  Egyptian pound (EGP)      11290 non-null  float64
 16  Korean won (KRW)          11290 non-null  float64
 17  Russian ruble (RUB)       11290 non-null  float64
 18  South African rand (ZAR)  11290 non-null  float64
 19  Australian dollar (AUD)   11290 non-null  float64
dtypes: float64(19), object(1)
memory usage: 1.7+ MB

In [6]:
df.isnull().sum() # Cek missing value

Date                        0
US dollar (USD)             0
Euro (EUR)                  0
Japanese yen (JPY)          0
Pound sterling (GBP)        0
Canadian dollar (CAD)       0
Swiss franc (CHF)           0
Indian rupee (INR)          0
Chinese renmimbi (CNY)      0
Turkish lira (TRY)          0
Saudi riyal (SAR)           0
Indonesian rupiah (IDR)     0
UAE dirham (AED)            0
Thai baht THB)              0
Vietnamese dong (VND)       0
Egyptian pound (EGP)        0
Korean won (KRW)            0
Russian ruble (RUB)         0
South African rand (ZAR)    0
Australian dollar (AUD)     0
dtype: int64

In [8]:
df.describe(include='all') # Statistik deskriptif

,Date,US dollar (USD),Euro (EUR),Japanese yen (JPY),Pound sterling (GBP),Canadian dollar (CAD),Swiss franc (CHF),Indian rupee (INR),Chinese renmimbi (CNY),Turkish lira (TRY),Saudi riyal (SAR),Indonesian rupiah (IDR),UAE dirham (AED),Thai baht THB),Vietnamese dong (VND),Egyptian pound (EGP),Korean won (KRW),Russian ruble (RUB),South African rand (ZAR),Australian dollar (AUD)
count,11290,11290.000000,11290.000000,11290.000000,11290.000000,11290.000000,11290.000000,11290.000000,11290.000000,11290.000000,11290.000000,1.129000e+04,11290.000000,11290.000000,1.129000e+04,11290.000000,1.129000e+04,11290.000000,11290.000000,11290.000000
unique,11290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,1979-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,710.974902,589.062481,84894.023066,464.587744,865.463364,840.207880,34696.307818,4307.143937,1885.617846,2645.185423,6.503789e+06,2612.831393,22244.033959,1.170174e+07,5553.716796,7.401221e+05,25346.310100,6284.401842,894.381323
std,NaN,490.671320,399.843565,46839.328458,362.529480,571.936527,379.425081,38013.579527,3591.608378,3879.295199,1852.339145,7.663795e+06,1801.527918,16211.959782,1.327238e+07,8119.005511,6.026732e+05,37224.221656,7763.462983,604.240010
min,NaN,216.850000,133.830000,0.000000,107.980000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,NaN,353.325000,306.530000,42938.030000,217.602500,456.605000,500.690000,6285.185000,1728.275000,0.850000,1309.685000,7.022236e+05,1297.357500,9624.010000,0.000000e+00,945.302500,3.019710e+05,0.000000,980.630000,475.767500
50%,NaN,419.250000,369.270000,72524.010000,257.930000,535.270000,711.850000,13296.820000,3057.280000,177.720000,1534.445000,2.626587e+06,1542.370000,12293.615000,4.269118e+06,1308.450000,3.811077e+05,7726.865000,1962.640000,554.330000
75%,NaN,1191.500000,965.202500,127460.197500,764.140000,1362.770000,1155.352500,68550.417500,7580.995000,2433.195000,4468.555000,1.295850e+07,4376.335000,39413.595000,2.555304e+07,8453.130000,1.323203e+06,41964.757500,10413.110000,1387.405000
max,NaN,2067.150000,1874.560000,241519.850000,1572.810000,2749.310000,1894.280000,156815.690000,14355.530000,32423.220000,7752.230000,3.014938e+07,7592.950000,67625.090000,4.790413e+07,35963.160000,2.522509e+06,300113.920000,36231.960000,2863.290000